body {

    margin: 0;
    padding: 0;
    overflow: hidden;

}


* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    touch-action: manipulation;

}


#canvas1 {

    width: 100%;

}


.container {


    width: 100vw;
    height: 100vh;

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(88, 211, 98);


}


.gamediv {

    width: 80vw;
    max-width: 300px;

}


#jogar {

    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    color: black;

    padding: 10px 20px;
    font-weight: 600;
    border: solid 4px black;
    border-radius: 10px;
    font-size: large;
    visibility: hidden;
    cursor: pointer;

}

#jogar:disabled {

    opacity: 0.3;
    cursor: default;
}

svg {
    width: 50%;
}